{% extends 'core/base.html'%}
{% load static book_tags %}
{% block title %}Home{% endblock title %}
<style>
 .form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}
.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}


</style>
{% block content %}
<div class="container">
  <div class="row mb-5">
    <div class="col-lg-8 mx-auto">
      <div class="bg-white p-5 rounded shadow">
     <h5 class="font-weight-light mb-4 text-center">Update number of copies '{{book.title}}' in your Inventory </h5>
        <!-- Custom rounded search bars with input group -->
        <form action="" method="POST">
          {% csrf_token %}
          <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
            <div class="input-group">
              <input type="number" min="0" placeholder="Number of copies '{{book.title}}'" value="{{book.number_of_copies}}" aria-describedby="button" class="form-control border-0 bg-light" id="search" name="copies">
              <div class="input-group-append">
                <button id="button" type="submit" class="btn btn-primary"><i class="fa fa-plus"></i>Update</button>
              </div>
            </div>
          </div>
        </form>


        <!-- End -->
      <div class="card">
                      <img src="{{book.image}}" alt="" class="card-img-top" style="height:450px;">
                      <div class="card-body">
                          <span class="badge badge-primary">{% return_out_of book.book_id %}</span>
                        <h5 class="card-title">{{book.title}}</h5>
                        <p class="card-text">{{book.description|truncatewords:30}}</p>
                       <a target="_blank" href="{{book.preview_link}}" class="btn btn-outline-success btn-sm">Read More</a>
                        <a target="_blank" href="{{book.info_link}}" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i>About Book</a>
                      </div>
                     </div>
                    </div>
      </div>
    </div>
  </div>

</div>


<!--<script src="{% static 'js/core.js' %}"></script>-->
{% endblock content %}

